/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */


* {
	margin: 0;
	padding: 0;
    font-family: Montserrat;

}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

    background-color: #052C2E;

}


main {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color: #DFD887;
	display: flex;
	flex-direction: column;
}

.appName{
    color:#DFD887; 
	text-transform: uppercase;
}

input{
	border: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.208) ;
	outline: 0px;
}

input:focus{
	outline: 1px solid rgba(0, 0, 0, 0.208);
	border-bottom: 0px;
}

input,
button {
	padding: 0.5rem;
	margin: 0.5rem;
}

button{
	cursor: pointer;
    background-color: #082223f2;
    border: 0;
    color: #DFD887;
    font-family: Poppins;
}

button:hover{
	transition: all .5s ease-in 0s;
	background-color: #052C2E;

}

#errorMsg{
	display: none;
	text-transform: lowercase;
	color: #052c2e8f;

}

